/* Main items */
@media (min-width: 960px) {
  .container,
  .container-fluid {
    width: 1100px;
  }
}

h1 {
  font-size: 60px;
  font-weight: 200;
  letter-spacing: 2px;
}

h2 {
  font-size: 40px;
  /*color: #333;*/
  font-weight: 200;
  letter-spacing: 2px;
}

h3 {
  color: #333;
  font-weight: 700;
  letter-spacing: 1px;
}

h4 {
  color: #212934;
  font-weight: 400;
  letter-spacing: 1px;
}

p {
  color: rgba(33,41,52,.6);
}

a,
a:hover {
  text-decoration: none;
}

/* Skills section */
.skills {
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  .skills {
    margin-top: 120px;
  }
}
@media (max-width: 960px) {
  .skills {
    margin-top: 100px;
  }
}
@media (max-width: 768px) {
  .skills {
    margin-top: 220px;
  }
}

/* Works section */
.works {
  padding-top: 10px;
  padding-bottom: 40px;
  background-color: #f1f1f1;
}

.project {
  margin-top: 30px;
}

.preview-img img {
  width: 340px;
  height: 360px;
}

/* Brief section */
.brief-section {
  padding: 40px 0 60px 0;
  height: 180px;
  background-color: rgb(255, 162, 130);
}
.brief-section p {
  font-size: 22px;
  color: #000;
  font-weight: 200;
  letter-spacing: 1px;
}
.brief-section button {
  margin-top: 15px;
  height: 40px;
  color: #9a533e;
  font-size: 16px;
  background-color: rgb(255, 162, 130);
  border: 2px solid #9a533e;
}
.brief-section button:hover {
  color: #333;
  border: 2px solid #333;
}
.brief-section button:focus {
  outline-color: #fff;
}
.brief-section button:active {
  color: #9a533e;
  border: 2px solid #9a533e;
}

/* Contact section */
.contact-section {
  padding: 20px 0;
  height: 120px;
  background-color: rgb(23, 23, 23);
}
.email a {
  color: #666;
  font-size: 28px;
  font-weight: 200;
  letter-spacing: 2px;
}
.email a:hover {
  color: rgb(255, 162, 130);
}
.social a {
  font-size: 30px;
  color: #666;
  margin: 0 10px;
}
.social a:hover {
  color: rgb(255, 162, 130);
}

/* Footer */
.footer {
  height: 50px;
  padding-top: 15px;
  background-color: #000;
}
.footer p {
  color: #333;
}
.fa-heart {
  color: #9a533e;
}

